*{
      font-family:'Roboto';
      
}
.header {
      background-color: #C8A35F;
      width: 100%;

}
body{
      background-color: #2F343A;
      margin: 0 auto;
}
.header__container {
      max-width: 1110px;
      margin: 0 auto;
}

.header__orange {
      width: 100%;
      color: #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 15px;
      font-size: 12px;
      font-weight: 400;
}


.language a {
      color: #FFF;
      opacity: 0.5;
      

}

.language__wrapper {
      display: flex;
      flex-direction: row;
      gap: 7px;
}
.language__item:first-child {
      opacity: 1;
}

.number {
      position: relative;
      cursor: pointer;
}
.number::before{
      content: '';
      position: absolute;
      padding: 0px;
      width: 0px;
      height: 1px;
      transform: translate(-5px , 15px);
      background-color: #fff;
      transition: all 0.3s ease;

}
.number:hover::before{
      width: 110%;
}

.email {
      position: relative;
      cursor: pointer;

}
.email::before{
      content: '';
      position: absolute;
      padding: 0px;
      width: 0px;
      height: 1px;
      transform: translate(-5px , 15px);
      background-color: #fff;
      transition: all 0.3s ease;

}
.email:hover::before{
      width: 110%;
}
.company {
      padding: 39px 0;
  
}
.company__container {
      max-width: 1110px;
      margin: 0 auto;
}
.company__wrapper {
          margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.company__about {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px 30px;

}
.logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* justify-content: space-between; */
      margin-right: 40px;
      position: relative;
  
}
.logo img
.logo::after{
      content: url('/img/Line.png');
     position: absolute;
     left: 190px;
     top: 0px;
}
.logo__image {
      padding: 0 10px;
}
.office {
      margin-left: 40px;
      font-size: 14px;
      color: #FFF;
      position: relative;
}
.office::before{
      content: url('/img/placeholder.svg');
      position: absolute;
      left: -35px;
      top: -5px;
}
.company__nav {
     
     
}
.navigation {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 30px;
      padding-right: 30px;
}
.navigation__item a {
      text-transform: uppercase;
      color: #FFF;
      position: relative;
      /* padding-bottom: 5px; */
   
}
.navigation__item a:hover {
      content: '';
      /* position: absolute; */
      bottom: 2px;
      box-shadow: 0px 3px 6px 2px #1b1d2198;
      /* padding: 0px;
      width: 0px;
      height: 1px;
      transform: translate(-5px , 15px);
      background-color: #fff; */
      transition: all 0.4s ease;

}
.navigation__item a:hover:before {
      /* width: 125%; */
}
.shipping {
      width: 100vw;
      max-height: 80vh;
      position: relative;
      overflow: hidden;
      /* background: url(/img/car1.png) 0 0/ 100% auto no-repeat; */
}
.shipping__bg{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-animation: shipping 10s ease-out infinite alternate both;
      animation: shipping 10s ease-out infinite alternate both;
      z-index: -1;
}
.shipping__bg img{
      width: 100%;
      height: 100%;
}
@-webkit-keyframes shipping {
      0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
      }
      100% {
        -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
      }
    }
    @keyframes shipping {
      0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
      }
      100% {
        -webkit-transform: scale(1.25) translateY(-15px);
                transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
      }
    }
    
    
.shipping__container {
      /* background: url(/img/car1.png) 0 0/ 100% auto no-repeat;
      max-width: 1920px; */
   
    }
.shipping__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

}
.shipping__text{
      margin-top:calc(55px + 100 * (100vw / 1920)); 
      margin-bottom: calc(70px + 140 * (100vw / 1920));;
      border: 1px solid #C8A35F;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #FFF;

}
.shipping__title {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
      font-size: calc(24px + 40 * (100vw / 1920));
      padding: 45px 72px 0 72px;
      letter-spacing: 3.2px;
      font-weight: 700;
      text-transform: uppercase;
}
.shipping__discription {
      text-align: center;
      padding: 45px 72px ;

}
.discription {
      line-height: 158.203%; 
      font-size: calc(10px + 8 * (100vw / 1920));
}
.eu {
      /* margin-top: -5.59%; */
}
.eu__container {
      max-width: 1920px;
      /* min-height: 561px; */
      margin: 0 auto;
      background-image: url(/img/blockblack.png), url(/img/blockblack.png);
      background-position: left, right;
      background-repeat: no-repeat;
      background-size: 40% 100%;
}
.eu__wrapper {
      margin: -2px auto;
      min-height: 561px;
      max-width: 1110px ;      
      color: #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.eu__content {
      max-width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
      min-height: 100%;
      gap: 50px;

}
.eu__title {
      align-self: start;
      /* align-self: self-sart; */
      /* margin-top: 106px; */
      max-width: 70%;
      font-size: calc(14px + 26 * (100vw / 1920));
      text-transform: uppercase;
      font-weight: 700;
      line-height: 123.047%;
      letter-spacing: 2px;
      position: relative;


}
.eu__title::before{
      content: url('/img/Rectangle\ 2.png');
      position: absolute;
      bottom: 115px;

      
}
.eu__discription {
      align-self: start;
      line-height: 158.203%;
      font-size: calc(9px + 9 * (100vw / 1920));
      max-width: 90%;
}
.eu__button {
      align-self: start;
      background-color: #C8A35F;
      border: 1px solid #000;
      padding: 18px 48px;
      font-size: calc(9px + 9 * (100vw / 1920));
    
}      
.eu__button:hover{
      -webkit-animation: eu__botton 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      animation: eu__botton  0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;

}
@-webkit-keyframes eu__botton {
      0%,
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
      }
      10% {
        -webkit-transform: rotate(8deg);
                transform: rotate(8deg);
      }
      20%,
      40%,
      60% {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
      }
      30%,
      50%,
      70% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
      }
      80% {
        -webkit-transform: rotate(-8deg);
                transform: rotate(-8deg);
      }
      90% {
        -webkit-transform: rotate(8deg);
                transform: rotate(8deg);
      }
    }
    @keyframes shake-lr {
      0%,
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
      }
      10% {
        -webkit-transform: rotate(8deg);
                transform: rotate(8deg);
      }
      20%,
      40%,
      60% {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
      }
      30%,
      50%,
      70% {
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
      }
      80% {
        -webkit-transform: rotate(-8deg);
                transform: rotate(-8deg);
      }
      90% {
        -webkit-transform: rotate(8deg);
                transform: rotate(8deg);
      }
    }
    

.eu__button a{
      color: #FFF;
}
.arrows {
      /* margin-left: -20px; */
      max-width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      position: relative;

}
.arrows::before{
      content: url('/img/car2.jpg');
      position: absolute;
      left: -428px;
      top: 30px;
}
.arrows__items {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: calc(8px + 8 * (100vw / 1920));
      color: #C8A35F;
      gap: 245px;
      font-weight: 500;

}
.arrows__item:first-child {
      align-self: flex-end;
      padding: 10px 31px;

}
.arrows__item:first-child::after {
      content: '';
      background: url(/img/Arrow_right.png) 35px 0 no-repeat;
      padding: 0 51px;
      z-index: 1;

}
.arrows__item:last-child {
      padding: 10px 31px;      
}
.arrows__item:last-child::before {
      content: '';
      background: url(/img/Arrow_left.png) 10px 0 no-repeat;
      padding: 0 51px;
      z-index: 1;
   
}
.service {
}
.service__container {
      max-width: 1108px;
      margin: 0 auto;
}
.container {
}
.service__wrapper {
      display: flex;
      flex-direction: column;   
      gap: calc(20px + 40 * (100vw / 1920));
}
.service__title  {
      padding-top: calc(60px + 106 * (100vw / 1920));;
      font-weight: 700;
      font-size: calc(19px + 21 * (100vw / 1920));;
      text-transform: uppercase;
      line-height: 123.047%;
      color: #FFF;
      position: relative;

}
.service__title::before{
      content: url(/img/Rectangle\ 2.png);
      position: absolute;
      bottom: calc(60px + 55 * (100vw / 1920));;
}
.service__content {
      display: flex;
      flex-wrap: wrap;
      gap: 1px;

}
.service__item {
      /* display: flex; */
      display: inline-block;
      /* flex-direction: column;
      justify-content: center;
      align-items: center;
      column-gap: 23px; */
      width: 276px;
     height: 180px;
     background-color: #393F47;
     transition: all 0.3s ease;
     position: relative;


     
}
.service__item::after{
      content: url('/img/airplane-fli.svg');
      position: absolute;
      top: 35px;
      left: 104px;
      overflow: hidden;
      padding: 20px;
      background-color: #FFF;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.4s ease 10ms;

      
}
.service__item:hover::after{
      opacity: 1;
}
.service__item:hover{
      background-color: #C8A35F;
}
.service__image {
      max-width: 70px;
      height: 70px;
      margin: 35px 103px 35px 103px;
      /* border: 1px solid #000; */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

}
.service__image img{
      /* align-self: center; */
      max-width: 30px;
      z-index: 0;
     

}

.service__discription {
      text-align: center;
      text-transform: uppercase;
      /* padding: 0 42px 35px 42px; */
}
.service__item a{
      color: #FFF;
      font-size: calc(12px + 6 * (100vw / 1920));;
}
.about {
}
.about__container {
      background: url(/img/blockblack.png) 50% 150% / 410px 485px no-repeat;
      max-width: 1110px;
      margin: 0 auto;
      padding-top: 213px;
      padding-bottom: 50px;

}
.about__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 65px;
      
}
.about__text {
      display: flex;
      flex-direction: column;
      width: 65%;

}
.about__title {
      /* padding-top: calc(60px + 106 * (100vw / 1920));; */
      font-weight: 700;
      font-size: calc(19px + 21 * (100vw / 1920));;
      text-transform: uppercase;
      line-height: 123.047%;
      color: #FFF;
      position: relative;

}
.about__title::before{
      content: url(/img/Rectangle\ 2.png);
      position: absolute;
      bottom: calc(60px + 55 * (100vw / 1920));;
}

.about__discription {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 146.484%;
      color: #FFF;
}
.about__content {
      display: flex;
      /* justify-content: center; */
      align-items: flex-start;
      flex-wrap: wrap;
}
.about__item {
      text-align: center;
      background-color: White ;
      border: 1px solid #C8A35F;
      display: block;
      width: 200px;
      height: 160px;
}
.about__number {
      font-size: 64px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.2px;
}
.about__what {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.9px;
      padding: 3px 0px 9px 0px;
}
.about__about {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      padding: 0 0px 25px 0px;
}
.about__image {
      max-height: 160px;
}
.footer{
      background-color: #C8A35F;

}
.footer__container {
      background-color: #C8A35F;
      width: 100%;
    

}
.footer__wrapper {
      margin: 0 auto;
      max-width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 65px 20px 55px 20px;
}
.footer__logo {
      max-height: 46px;
      margin-right: 1.8%;
}
.adress {
      display: flex;
      flex-direction: column;
      gap: 5px;
     font-weight: 400;
     font-size: 14px;
     line-height: 16.41px;
     margin-right: 5.219%;
      align-items: flex-start;
}


.adress__item{
     padding: 5px;
     transition: all 0.3s ease 0s;


}
.adress__item a{
      color: #F2F2F2;
      position: relative;
      transition: all 0.3s ease 0s;
      transform: translate( 0px,0px);

}
.adress__item:hover{
      /* bottom: 2px; */
      box-shadow: 0px 16px 20px 0px #bf964a;

      transform: translate( 0px,-2px);

}

.tel {
      margin-right: 12.5%;
}
.tel__item{
      padding: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.41px;
      transition: all 0.3s ease 0s;

}
.tel__item a {
      color: #F2F2F2;
      position: relative;
      transition: all 0.3s ease 0s;
      transform: translate( 0px,0px);

}
.tel__item:hover{
      /* bottom: 2px; */
      box-shadow: 0px 16px 20px 0px #bf964a;
      transform: translate( 0px,-2px);

}

.footer__develop {
      
      padding: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.41px;
      color: #000;
      text-align: right;
}

@media(max-width:1290px){
      .header {
      }
      .header__container {
            max-width: 80%;
      }
      .header__orange {
      }
      .language {
      }
      .language__wrapper {
      }
      .language__item {
      }
      .number {
      }
      .email {
      }
      .company {
            padding: 10px 0;
      }
      .company__container {
            max-width: 80%;

      }
      .company__wrapper {
      }
      .company__about {
            display: flex;

      }
      .logo {
            max-width: 120px;
      }
      
      .logo__image img {
            max-width: 100%;
      }
    
    
      .office {
            font-size: 10px;
            margin-left: 50px;

            
      }
      .logo::after {
            content: url(/img/Line.png);
            position: absolute;
            left: 151px;
            top: -8px;
      }
      .company__nav {
      }
      .navigation {
            font-size: 8px;
            gap: 15px;
      }
      .navigation__item {
      }
      .shipping {
            height: 100vh;
      }
      .shipping__container {
            /* min-height: 339px; */
      }
      .shipping__wrapper {
            width: 100%;
            height: 100%;
      }
      .shipping__text {
            margin-top: 35px;
      }
      .shipping__title {
            font-size: 40px;
            padding: 35px 0 0 0;
      }
      .shipping__discription {
            /* padding: 35px 65px; */
      }
      .discription {
      }
      .eu {
      }
      
      .eu__container {
            margin-top: -100px;
            max-width: 100%;
            /* max-height: 280px; */
            background-image: url(/img/blockblack.png), url(/img/blockblack.png);
            background-position: 0px 45%, 100% 45%;
            background-repeat: no-repeat;
            background-size: 40% 60%;
      }
      .eu__wrapper {
            max-width: 80%;
            max-height: 80%;
      }
      .eu__content {
            gap: 26px;
      }
      .eu__title {

      }
      .eu__title::before{
            content: '';
            background: url('/img/Rectangle\ 2.png')  30% no-repeat;
            z-index: 1;
            /* padding: 30px; */
            position: absolute;
            top: -50px;
      }
      .eu__discription {
      }
      .eu__button {
            padding: 12px 36px;
      }
      .arrows {
            max-width: 33%;

      }
      .arrows::before{
            content: '';
            background: url(/img/car2.jpg) 100% 0%/ 70% no-repeat;
            padding: 200px;
            z-index: 10;
        
      }
      .arrows__items {
            gap: 160px;
      }
      .arrows__item {
      }
      .arrows__item:first-child {
            align-self: flex-end;
            padding: 10px 31px;
      
      }
      .arrows__item:first-child::after {
            content: '';
            background: url(/img/Arrow_right.png) 30px 3px/ 50% no-repeat;
            padding: 0 31px;
            z-index: 1;
      
      }
      .arrows__item:last-child {
            padding: 10px 31px;      
      }
      .arrows__item:last-child::before {
            content: '';
            background: url(/img/Arrow_left.png) 10px / 50% no-repeat;
            padding: 0 31px;
            z-index: 1;
         
      }
      .footer{}
      .adress__item a{
            font-size: 12px;
      }
      .tel__item a{
            font-size: 12px;
      }
      .footer__develop{
            font-size: 12px;
      }
    
}

@media(max-width:992px){
    
    
      .header__orange{
            padding: 5px 0;
            font-size: 10px;

      }
      .logo:first-child img{
            max-width: 100%;
      }
     
      .shipping__container{
            max-height: 280px;
      }
      .shipping__wrapper{
            justify-content: center;
            align-items: center;
            gap:10px;
            max-height: 280px;
      }
      
      .shipping__text{
            margin-top: 30px; 
            margin-bottom: 10px; 
      }
      .shipping__title{
            padding: 30px 60px 0 60px;

      }
      .shipping__discription{
            padding: 25px 60px;

      }
      .eu__container{
            /* margin-top: -10px; */
      }
      .eu__wrapper{
            min-height: 100%;
      }
      .eu__container {
            padding: 70px 0;
            margin-top: 1px;
            max-width: 100%;
            min-height: 300px;
            background-image: url(/img/blockblack.png), url(/img/blockblack.png);
            background-position: 0px 0%, 100% 0%;
            background-repeat: no-repeat;
            background-size: 40% 100%;
      }
      .arrows::before{
            content: '';
            background: url(/img/car2.jpg) 150% 0%/ 70% no-repeat;
            padding: 200px;
            z-index: 10;
        
      }
      .service__container{
            max-width: 80%;
      }
      .service__wrapper{

      }
      .service__content{
            align-items: center;
            justify-content: center;
      }
      .service__item{
            max-width: 196px;
            max-height: 150px ;
      }
      .service__discription{
            margin-top: -20px;
      }
      .service__item::after{
            left: 66px;
      }
      .about__container{
            background: url(/img/blockblack.png) 50% 95% / 410px 585px no-repeat;
            max-width: 80%;

      }
      .about__wrapper{
            justify-content: space-between;
      }
      .about__text{
           
      }
      .about__content{
            max-width: 51%;
            justify-content: end;
      }
      
      .footer__wrapper{
            flex-wrap: wrap;
      }
      /* .footer__logo{
            max-height: 30px;
      }
      .footer__logo img{
            max-width: 100%;
      } */
      .adress__item a{
            font-size: 10px;
      }
      .tel__item a{
            font-size: 10px;
      }
      .footer__develop{
            font-size: 10px;
      }
    



}

@media(max-width:768px){
      .header {
      }
      .header__container {
            max-width: 700px;
            margin: 0 auto;
      }
      .header__orange {
            justify-content: start;
            gap: 30%;
      }
      .language {
      }
      .language__wrapper {
            /* padding-left: 40px; */
      }
      .language__item {
      }
      .number {
      }
      .email {
      }
      .company {
            padding: 5px 0;

      }
      .company__container {
      }
      .company__wrapper {
            max-width: 700px;
            justify-content: space-around;
            position: relative;
            /* gap: 100px; */
      }
      .company__about {
            align-self: flex-start;
            padding: 0;
            
      }
      .logo {
      }
      .logo__image img {
            max-width: 20%;

      }
      .office {
      }
      .company__nav {
      }
      .navigation {
      }
      .navigation__item {
      }
      .shipping {
      }
      .shipping__container {
            /* max-width: 1920px; */
            margin: 0 auto;
      }

      .shipping__wrapper {

        max-width: 100%;
      }
      .shipping__text {
            margin-top: 50px;
           max-height: 60%;
      }
      .shipping__title {
            padding: 15px 40px 0 40px;
            font-size: 25px;
      }
      .shipping__discription {
            font-size: 12px;
            padding: 13px; 

      }
      .discription {
      }
      .eu {
      }
      .eu__container {
            padding: 40px 0;
            margin-top: 0.1px;
            max-width: 100%;
            min-height: 300px;
            background-image: url(/img/blockblack.png), url(/img/blockblack.png);
            background-position: 0px 0%, 100% 0%;
            background-repeat: no-repeat;
            background-size: 40% 90%;
      }
      .eu__wrapper {
           justify-content: space-between;
           max-width: 80%;
           /* padding: 0 50px 0 80px; */
      }
      .eu__content {
      }
      .eu__title {
            font-size: 19px;
      }
      .eu__discription {
      }
      .eu__button {
            padding: 10px 25px;
      }
      .arrows {
      }
      .arrows::before{
            content: '';
            background: url(/img/car2.jpg) 65% 5%/ 40% no-repeat;
            padding: 300px;
            z-index: 1;
        
      }
      .arrows__items {
            z-index: 10;
            gap: 120px;
      }
      .arrows__item {
      }
      .service__container{
            max-width: 77%;
      }
      .service__wrapper{
           
      }
      .service__item{}
      .service__title{
            padding-top: 80px;
            font-size: 20px;
      }
      .service__title::before{
            bottom: 40px;

      }
      .service__discription{
            font-size: 12px;
      }
      .about__container{
            background: url(/img/blockblack.png) 50% 40% / 410px 485px no-repeat;
            max-width: 80%;
            padding-top: 200px;

      }
      .about__wrapper{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
      }
      .about__text{
           width: 614px;
      }
      .about__discription{
            min-width: 90%;
      }
      .about__content{
            max-width: 100%;
            justify-content: start;
      }

    .footer__wrapper{
      margin-left: 10%;
      padding: 20px 0 20px 0;
      justify-content: space-between;
    }
      .about__image img{
            width: 100%;
      }
      .adress__item {
            padding: 2px;
      }
      .tel__item {
            padding: 2px;
      }
      .footer__develop{
            margin-top: 5%;
            padding: 0 38%;
      }
}

@media(max-width:576px){
      .header {
      }
      .header__container {
            max-width: 90%;
      }
      .header__orange {
           
      }
      .language {
      }
      .language__wrapper {
      }
      .language__item {
      }
      .number {
      }
      .email {
      }
      .company {
      }
      .company__container {
      }
      .company__wrapper {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
      }
      .company__about {
            min-width: 90%;
            justify-content: space-between;
            
      }
      .logo {
            max-width: 40%;
            padding: 10px 0;
      }
      .logo::after{
            content: url('/img/Line.png');
           max-height: 35px;
           overflow: hidden;
           left: 140%;
           top: 10px;

      }
      .logo__image {
      }
      .office {
            font-size: 12px;
            padding-left: 10px;
      }
      .company__nav {
          
      }
      .navigation {
            /* align-self: center; */
            min-width: 600px;
            padding: 10px;
            /* gap: 25px; */
      }
      .navigation__item {
      }
      .shipping {
            
      }
      .shipping__container {
      }
      .shipping__wrapper {
      }
      .shipping__text {
            max-width: 90%;
            padding: 15px 0;
      }
      .shipping__title {
      }
      .shipping__discription {
      }
      .discription {
      }
      .eu {
      }
      .eu__container {
            background-image: url(/img/blockblack.png), url(/img/blockblack.png);
            background-position: 0px 0%, 100% 0%;
            background-repeat: no-repeat;
            background-size: 40% 90%;
            z-index: 0;
      }
      .eu__wrapper {
      }
      .eu__content {
            gap: 20px;
      }
      .eu__title {
      }
      .eu__discription {
      }
      .eu__button {
      }
      .arrows {
      }
      .arrows::before{
            content: '';
            background: url(/img/car2.jpg) 75% 5%/ 30% no-repeat;
            padding: 300px;
            z-index: 10;
        
      }
      .arrows__items {
      }
      .arrows__item {
      }
      .about__text {
            max-width: 100%;
      }   
      .about__title{
            font-size: 19.8px;
      }  
      .about__discription{
            font-size: 13px;
      }
      .about__content{
            justify-content: center;
      }
      .about__number{
            font-size: 44px;
            padding-top: 15px;
      }
      .about__what{
            font-size: 15px;
      }
      .footer__wrapper{
            margin-left: 0%;
            padding: 20px 0 20px 0;
            justify-content: space-between;
          }
      .footer__container {
      }
      .footer__wrapper {
            margin: 0 auto;
            justify-content: space-around;
            gap: 20px;
      }
      .footer__logo {
          min-width: 100%;
          /* margin-left: 20%;  */
          display: flex;
          justify-content: center;
      }
      .adress {
            
            padding: 0;
      }
      .adress__item {
      }
      .tel{
            /* display: flex;
            gap: 5px;
            padding: 0; */
      }
      .tel__item {
      }
      .footer__develop {
        
            padding: 0;
      }
}

@media(max-width:428px){
      .header {
            min-width: 100%;
            /* justify-content: center; */
      }
      .header__container {
            max-width: 90%;
           
      }
      .header__orange {
            gap: 90px;
      }
      .language {
      }
      .language__wrapper {
      }
      .language__item {
      }
      .number {
      }
      .email {
      }
      .company {
      }
      .company__container {
      }
      .company__wrapper {
            max-width: 80%;

      }
      .company__about {
            min-width: 400px;
            align-self: center;
            padding: 0 20px;
      }
      .logo {
      }
      .logo::after{
            left: 126%;
            top: 13%;
      }
      .logo__image {
      }
      .office {
            padding-left: 15px;
            padding-right: 12px;
      }
      .company__nav {
      }
      .navigation {
            min-width: 428px;
            gap: 10px;
      }
      .navigation__item {
      }
      .shipping {
      }
      .shipping__container {
            min-height: 200px;
           

      }
      .shipping__wrapper {
            max-width: 100%;
      }
      .shipping__text {
            margin-top: 40px;
            padding: 10px 0;
      }
      .shipping__title {
            padding: 10px 0 0 0 ;
      }
      .shipping__discription {
            padding: 20px ;
      }
      .discription {
      }
      .eu {
      }
      .eu__container {
            background-image: url(/img/blockblack.png), ;
            background-position: 0px 0px, 100% 0%;
            background-repeat: no-repeat;
            background-size: 40% 90%, 40% 90%;
            z-index: 0;

      }
      .eu__wrapper {
            min-width: 90%;
            /* flex-direction: column; */
            z-index: 0;
      }
      .eu__content {
            min-width: 70%;
            gap: 30px;

      }
    
      .eu__title {
            min-width: 80%;
      }
      .eu__discription {
            max-width: 50%;
            z-index: 0;
      }
      .eu__button {
      }
      .arrows {
            position: relative;
      }
      .arrows::before{
            background: url(/img/car2.jpg) 108% 20%/ 34% no-repeat;
            padding: 220px;
            z-index: 10
      }
    
      .arrows__items {
          /* align-self: start;
            flex-direction: row-reverse;
            gap: 5px;
            position: absolute;
            left: 26px;
            top: -17px; */
            gap: 137px;

      }
      .arrows__item {

            font-size: 11px;
      }
      .arrows__item:first-child {
            align-self: flex-end;
            padding: 0px 18px;
      
      }
      .arrows__item:first-child::after {
            content: '';
            background: url(/img/Arrow_right.png) 10px 2px / 60% no-repeat;
            padding: 0 21px;
            z-index: 1;
      
      }
      .arrows__item:last-child {
            padding: 0px 18px;      
      }
      .arrows__item:last-child::before {
            content: '';
            background: url(/img/Arrow_left.png) 6px 2px / 60% no-repeat;
            padding: 0 21px;
            z-index: 1;
         
      }
         .about__container{
           background: none;
            max-width: 80%;
            padding-top: 200px;
      }
      .footer__wrapper{
            margin: 0 auto; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
      }
      .adress{
            font-size: 14px;
            text-align: center;
      }
      .tel{
            margin-left: 25px;
      }
      .footer__develop{
            margin-left: -15px; 

      }
      
}

@media(max-width:320px){
      /* *{
            padding: 0;
            margin: 0;
      } */
      .header {
      }
      .header__container {
            min-width: 90%;
      }
      .header__orange {
            flex-wrap: wrap;
      }
      .language {
      }
      .language__wrapper {
      }
      .language__item {
      }
      .number {
            display: none;

      }
      .email {
            display: none;
      }
      .company {
            /* align-items: center; */
      }
      .company__container {
            max-width: 100%;
      }
      .company__wrapper {
            flex-direction: column;
            display: inline-block;
            justify-content: center;
            align-items: center;

      }
      .company__about {
            margin-left: -30px;
            flex-direction: column;
            align-items: center;
            /* width: 300px; */
            gap: 5px;

      }
      .logo {
            padding: 10px;
            min-width: 200px;
            /* align-self: center; */
      }
      .logo::after{
            /* align-self: center; */
            display: none;
      }
      .logo__image {

            align-self: center;

      }
      .office {
           margin-left: -19px;

      }
      .office::before{
            left: -14px;
      }
      .navigation {
            margin-top: 10px;
            min-width: 320px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
      }
      .navigation__item {
            /* display: inline-block; */

      }
      .shipping {
      }
      .shipping__container {
      }
      .shipping__wrapper {
      }
      .shipping__text {
      }
      .shipping__title {
      }
      .shipping__discription {
      }
      .discription {
      }
      .eu {
      }
      .eu__container {
            background-image: url(/img/car2.jpg), url(/img/blockblack.png);
            background-position: 86% 76%, 100% 0%;
            background-repeat: no-repeat;
            background-size: 40% 25%, 35% 82%;
      }
      .eu__wrapper {
            flex-direction: column;
            
      }
      .eu__content {
            min-width: 90%;
            gap: 15px;
            justify-content: center;
            align-items: center;
      }
    
      .eu__title {
            margin-bottom: 10px;
      }
      .eu__discription {
            min-width: 90%;
            line-height: 20px;
           
      }
      .eu__button {
            margin-top: 5px;
      }
      .eu__button:after{
            background:  0% 0%/ 34% no-repeat;
            padding: 420px;
            z-index: 10
      }
     
      .arrows {
            display: none;
      }
      .arrows__items {
            flex-direction: row;
            gap: 1px;
      }
      .arrows__item {
      }
      .service__container{
            max-width: 80%;
      }
      .about__container{
            max-width: 80%;

      }

}